:root {
    --header-height: 3.5rem;
    --primary-color: #4a4a4a;
    --primary-color-alt: #575757;
    --linear-gradient: linear-gradient(54deg, rgba(45, 45, 45, 0.95) 34%, rgba(45, 45, 45, 0.95));
    --title-color: #4a4a4a;
    --text-color: #555;
    --text-color-alt: #999;
    --bg-color: #fff;
    --bg-color-alt: #e9ecef;
    --border-color: #f1f1f1;
    --root-font: 'Roboto', sans-serif;
    --mono-font: 'Roboto Mono', monospace;
    --fs-h1: 2.75rem;
    --fs-h2: 2.25rem;
    --fs-lg: 1.1125rem;
    --fs-base: 1rem;
    --fs-sm: 0.875rem;
    --fs-xs: 0.75rem;
    --medium: 500;
    --semibold: 600;
    --bold: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body, button, input, textarea {
    font-family: var(--root-font);
    font-size: var(--fs-base);
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    line-height: 1.5em;
}

h1, h2, h3 {
    font-family: var(--mono-font);
    font-weight: var(--bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
}

textarea, input {
    background: none;
    border: none;
    outline: none;
}

/* Container */
.container {
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 0.9rem;
    /* padding-right: 0.9rem;  */
}

/* Grid */
.grid {
    display: grid;
    grid-template-columns: 4fr 8fr; 
    column-gap: 1.8rem;
}
.section{
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
}
.section__title{
    color: var(--fs-h2);
    line-height: 1.17em;
    font-weight: var(--medium);
    margin-bottom: 1em;
}
.text-lg{
    font-size: var(--fs-lg);
    line-height: 1.67em;

}
.text-sm{
    font-size: var(--fs-sm);
    line-height: 1.3rem;
}

/* Home Section */
.home {
    background-color: black;
    padding-top: 5.5rem;
    position: relative;
}

/* Before pseudo-element for Home */
.home::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--linear-gradient);
}
.home__img,.home__data{
    z-index: 10;
}
.home__img{
    width: 90%;
    height: 280px;
    background-size: cover;
    object-fit: cover;
    transform: translateY(6.3rem);
}
.home__name,.home__work,.home__list,.home__social-link{
    color:#fff;
    font-family: var(--mono-font);
}
.home__name{
    font-size: var(--fs-h1);
    line-height: 1.14em;
    margin: 0.9em 0 0.23em;
}
.home__work{
    margin-bottom: 2.5em;
}
.home__list dt{
    float: left;
    font-weight: var(--bold);
    opacity: 0.6;
}
.home__list dd{
    padding-left: 6.25em;
}
.home__list dd:not(:last-child)
{
    margin-bottom: .94em; 
}
.home__social{
    margin: 1.2rem 0 2.2rem;
}
.home__social-link{
    font-size: 1.7rem;
    line-height: 1.36em;
    margin-right: 0.25rem;
    transition: .3s;
    opacity: .5;
}
.home__social-link:hover{
    opacity: 1;
}
/*header*/
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    transition: 0.3s;
  }
  
  #menuList {
    display: flex; /* Show menu by default on large screens */
    gap: 30px;
  }
  
  #menuList.active {
    display: block;
    width: 100%;
    padding-left: 0 !important;
  }
  
  nav {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: black;
    position: absolute;
    height: 70px;
  }
  
  .logo {
    color: #fff;
  }
  
  nav ul {
    display: flex;
    gap: 30px;
    align-items: center;
  }
  
  nav ul li {
    list-style-type: none;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #fff;
  }
  
  .menu-icon {
    display: none;
  }
  
  .menu-icon i {
    color: #fff;
    font-size: 30px;
  }
  
  /* For small screens */
  @media (max-width: 600px) {
    #menuList {
      display: none; /* Hidden by default on small screens */
    }
  
    #menuList.active {
      display: block;
      flex-direction: column;
      text-align: center;
      background: #004274;
      width: 100%;
    }
  
    nav ul {
      position: absolute;
      top: 70px;
      left: 0;
      right: 0;
      flex-direction: column;
      gap: 0;
      overflow: hidden;
    }
  
    nav ul li {
      padding: 20px;
      padding-top: 0;
    }
  
    .menu-icon {
      display: block;
    }
  }
/*scroll*/
.scroll-header{
    position: fixed;
    background-color: var(--bg-color);
    box-shadow: 0 5px 8px 0 rgb(0, 0, 0)/14%;
}
.skills__item:hover,.scroll-header .nav__link{
    color: var(--text-color) !important;
}


/* about*/
.about {
    margin-bottom: 0.8em;
    text-align: justify;
}

.button {
    display: inline-block;
    background-color: var(--primary-color);
    color: #fff;
    padding: 1em 2em;
    border-radius: 1.56rem;
    font-weight: var(--semibold);
    transition: 0.3s;
    text-decoration: none;
}

.button:hover {
    background-color: var(--primary-color-alt);
}

.button--flex {
    display: inline-flex;
    align-items: center; 
    column-gap: 0.3rem;
}

.fa-download {
    margin-right: 0.5rem; 
}
/* General styling for project section */
/* .project__item{
    grid-template-columns: 5fr;
} */
/* General styling for project section */
.project__item {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Adjusts columns based on screen size */
  gap: 1rem; /* Adds a small gap between project items */
}

.project__container {
  display: grid;
  grid-template-columns: 1fr 2fr; /* Adjusted to have the image take more space */
  align-items: stretch; /* Ensures the image and text are of the same height */
  width: 100%;
  border-radius: 2rem;
  cursor: pointer;
  transform: scale(1);
  border: 1px solid var(--border-color);
  overflow: hidden; /* Ensures content doesn't overflow the rounded corners */
}
.project__container:hover{
    box-shadow: 3px 4px 3px black;
    transition: 1s;  
}

.project__items {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0; /* Removes padding around the image */
  margin: 0; /* Removes margin to align with the container */
}

.project__img {
  width: 100%;
  height: auto; /* Ensures the image maintains its aspect ratio */
  object-fit: cover;
 
}

.project__data {
  padding: 2rem;
}

.project__title {
  margin-bottom: 0.8em;
}

.project__description {
  margin-bottom: 2.5rem;
  text-align: justify;
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .project__item {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Adjusts to show fewer columns */
  }
}

@media (max-width: 768px) {
  .project__item {
    grid-template-columns: 1fr; /* Stacks items one by one on mobile screens */
  }
}

  /* skill*/
  .skills {
    padding: 2rem 0;
  }
  
  .skills__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }
  
  .skills__item {
    background-color: var(--bg-color-alt);
    border: 1px solid var(--border-color);
    border-radius: 1rem;
    padding: 1rem;
    cursor: pointer;
    transform: scale(1);
  }
  .skills__item:hover{
    box-shadow: 3px 4px 3px black !important;
    transition: 1s !important;
    transform: scale(1.1) !important;
  }
  .skills__name {
    margin-bottom: 0.5rem;
    font-size: var(--fs-lg);
  }
  
  .skills__bar {
    background-color: #e0e0e0;
    border-radius: 0.5rem;
    height: 0.5rem;
    position: relative;
  }
  
  .skills__progress {
    height: 100%;
    border-radius: 0.5rem;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .html { width: 90%; background-color:rgb(24, 39, 24); }
  .css { width: 70%; background-color: rgb(24, 39, 24); }
  .js { width: 70%; background-color: rgb(24, 39, 24); }
  .c { width: 90%; background-color: rgb(24, 39, 24); }
  .java { width: 60%; background-color:rgb(24, 39, 24); }
  
  @media (max-width: 1024px) {
    .skills__container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 768px) {
    .skills__container {
      grid-template-columns: 1fr;
    }
  }
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .btn-primary {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
 
  
  
  
